%-*-Erlang-*-
% uncomment to disable encoding support for erlang maps
% {jsx_nomaps, true}.

{erl_opts, [ debug_info]}.
{deps, [
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", "HEAD"}},
        {parse_trans,      ".*", {git, "git://github.com/uwiger/parse_trans.git",                "HEAD"}},
        {erlang_js,      ".*", {git, "git@github.com:basho/erlang_js.git", "HEAD"}}
       ]}.
%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.




