{lib_dirs, ["deps"]}.

{sub_dirs, [
    "deps/nicefloats"
]}.

%% edit eunit_test_path if you want to run your own tests, use "../" not "./" as 
%%   rebar changes to working dir to .eunit when running tests
{eunit_compile_opts, [{d, eunit_test_path, "../test/cases"}]}.

%% uncomment to get verbose output from test suite
%% {eunit_opts, [verbose]}.
